<%-include('partials/head'); %>
<%-include('partials/nav'); %>

<div class="container">
    <h1 class="mainheading">Computer Science Trivia API</h1>
    <div class="row">
        <div class="col-md-6" style="background-color: white;">
            <p>The goal of this website is to help our fellow Computer Science 
                students learn more about the field, study for their education, 
                and get knowledge for technical interviews.</p>
        </div>
        <div class="col-md-6" style="background-color: white;">
            <p>Sample JSON</p>
        </div>
    </div>

    <hr>

    <button class="btn btn-primary">Get Started Now</button>
</div>

<%-include('partials/footer'); %>