<%-include('partials/head'); %>
<%-include('partials/nav'); %>

<h1 style="text-align: center;">Submit A Question Below</h1>

<!-- Wrapper container -->
<div class="container py-4">

    <!-- Bootstrap 5 starter form -->
    <form id="contactForm" method="POST" action="/">

        <!-- Name input -->
        <div class="mb-3">
            <label class="form-label" for="question">Question</label>
            <input class="form-control" id="question" name="question" type="text" placeholder="question" />
        </div>

        <!-- Message input -->
        <div class="mb-3">
            <label class="form-label" for="answer">Answer</label>
            <textarea class="form-control" id="answer" name="answer" type="text" placeholder="answer"
                style="height: 10rem;"></textarea>
        </div>

        <!-- Email address input -->
        <div class="mb-3">
            <label class="form-label" for="qLink">Reference Link</label>
            <input class="form-control" id="qLink" name="qlink" type="text" placeholder="Link" />
        </div>

        <!-- Form submit button -->
        <div class="d-grid">
            <button class="btn btn-primary btn-lg" type="submit">Submit</button>
        </div>

    </form>

</div>

<%-include('partials/footer'); %>