#footer {
    background-color: aliceblue;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: #777;
}

p {
    text-align: center;
}

pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; font-size: small;}
.string { color: #1a1aa5; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: #318495; }

.mainheading {
    text-align: center;
}